@import "../../styles/variables.scss";

.card {
  width: 90%;
  margin: auto;
  height: auto;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: clamp(16px, 7.47648vw, 64px);

  &__img {
    margin-top: clamp(16px, 7.47648vw, 64px);
    width: 90px;
    height: 90px;
  }

  &__text {
    margin-top: clamp(8px, 3.73824vw, 32px);
    width: 70%;
  }

  &__main {
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-size: clamp(12px, 5.60736vw, 48px);
    font-weight: 500;
  }
  &__mainS {
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-size: clamp(12px, 5.60736vw, 48px);
    font-weight: 500;
    position: relative;
    right: clamp(17.5px, 8.177399999999999vw, 70px);
  }

  &__par {
    margin: auto;
    font-size: clamp(8.5px, 3.9718799999999996vw, 34px);
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    margin-top: clamp(8px, 3.73824vw, 32px);
    margin-bottom: clamp(16px, 7.47648vw, 64px);
  }
}

@media screen and (min-width: 1024px) {
  .card {
    width: clamp(212.5px, 22.134vw, 850px);
    height: clamp(237.5px, 24.738vw, 950px);
    margin-top: clamp(16px, 1.66656vw, 64px);
    padding-top: clamp(16px, 1.66656vw, 64px);
    padding-bottom: clamp(16px, 1.66656vw, 64px);
    &__img {
      margin-top: 1px;
      width: clamp(46.5px, 4.84344vw, 186px);
      height: clamp(46.5px, 4.84344vw, 186px);
      margin-right: clamp(107.5px, 11.1972vw, 430px);
    }

    &__text {
      margin-top: clamp(8px, 0.83328vw, 32px);
      width: 60%;
      margin-right: clamp(25px, 2.604vw, 100px);
    }

    &__main {
      font-size: clamp(12px, 1.24992vw, 48px);
      text-align: left;
      width: 80%;
      line-height: clamp(19.34px, 2.0144544vw, 77.36px);
    }

    &__par {
      margin-top: clamp(8px, 0.83328vw, 32px);
      font-size: clamp(8.5px, 0.88536vw, 34px);
      text-align: left;
      margin-bottom: clamp(-2.5px, -0.2604vw, -10px);
    }
  }
}
